<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>流水帳</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this tmemberlate -->
    <link href="/css/dashboard.css" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet">

</head>
<body th:inline="text">
<!--引入topbar-->
<div th:replace="common/bar::top_bar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="common/bar::side_bar(activeUrl='members2')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        </main>
    </div>
</div>

</body>
</html>